*:focus {
  outline: none;
}

#drum-machine {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8A8C3B;

}

#display {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 40px;
  width: 50%;
  height: 50%;
  border: 5px solid #40010D;
  background-color: #B7BF7A;
  padding: 0 30px 0 30px;
}

#drum-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 20px 10px 20px 0;
}

#drum-pad > button {
  border-radius: 10px;
  box-shadow: 2px 2px 8px #290207;
  background-color: #8A8C3B;
  font-size: 25px;
  color: #290207;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#control {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  margin: 20px 0 20px 10px;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin-left: 97px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #290207;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#powerSwitch:checked + .slider {
  background-color: #8A8C3B;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} 

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

#noteWrapper {
  border: none !important;
  width: 75%;
  height: 45px;
  margin-left: 30px;
  padding-top: 5px;
  background-color: #8A8C3B;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bold;
}



#volume {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  background: #8A8C3B;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 25px;
  background: #290207;
  cursor: pointer;
}

.labels {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: Bold;
  font-size: 1.1em;
}
